:root
    --Orange: hsl(26, 100%, 55%)
    --Pale_orange: hsl(25, 100%, 94%)
    --Very_vark_blue: hsl(220, 13%, 13%)
    --Dark_grayish_blue: hsl(219, 9%, 45%)
    --Grayish_blue: hsl(220, 14%, 75%)
    --Light_grayish_blue: hsl(223, 64%, 98%)
    --White: hsl(0, 0%, 100%)
    --Black: hsl(0, 0%, 0%)
    
*,*::after,*::before
    box-sizing: border-box
body,html
    position: relative 
    overflow-x: hidden
body
    width:100vw
    min-height:100vh
    margin:0
    font-family: 'Kumbh Sans', sans-serif

@mixin flex($direction,$wrap,$justify,$align)
    display: flex
    flex-flow: $direction $wrap
    justify-content: $justify
    align-items: $align

// NAVIGATION MENU STYLES
.pageNav
    @include flex(row,wrap,space-around,center)
    position: relative
    width:100%
    height:5rem
    z-index:20
.OPENED.pageNav::after
        content:''
        position: absolute
        top:0
        left:0
        display: inline-block
        width:100vw
        height:100vh
        background-color: rgba(0 0 0/.5)
        z-index:1
.pageNav__phoneOpen
    positoin: relative
    @include flex(column,wrap,center,center)
    width:1.5rem
    gap: 0.3rem
    overflow: hidden
    z-index:20
    &--bar
        display: inline-block
        width:100%
        height:3px
        background-color: var(--Grayish_blue)
        transition: transform .3s
.OPENED.bar1
    transform: translateY(.5rem) rotate(45deg)

.OPENED.bar2
    transform: translateX(-2rem)
.OPENED.bar3
    transform: translateY(-.5rem) rotate(-45deg)
.pageNav__ul
    position: absolute
    top:0
    left:0
    transform: translateX(-100vw)
    @include flex(column,wrap,center,flex-start)
    gap:1rem
    width:60vw
    height:100vh
    margin:0
    background-color: #fff
    font-weight: 700
    transition: transform .3s
    z-index:10
    &--item
        list-style-type: none
.OPENED.pageNav__ul
    transform: translateX(0)
.pageNav__ui
    @include flex(row,wrap,center,center)
    gap:1rem
    width:30%
    &--avatar
        display: inline-block
        width:2rem
        height:2rem


// MAIN PAGE CONTENT STYLES
// MAIN PAGE SLIDE STYLES
.Sliding
    opacity:0.1
.mainContent
    width:100%
.mainContent__slideAlert
    display: none
.mainContent__slide
    position: relative
    @include flex(column,wrap,center,center)
    width:100%
    height:60vh
    &--mainImage
        display: inline-block
        width:100%
        height:100%
        transition: opacity .5s
    &--thumbnails
        display: none
    &--buttons
        position: absolute
        top:0
        left:0
        @include flex(row,wrap,space-between,center)
        width:100%
        height:100%
        z-index:10
        &_button
            @include flex(row,wrap,center,center)
            width:2.5rem
            height:2.5rem
            background-color: #fff
            border-radius: 50%
            margin:0 1rem

// MAIN PAGE INFO STYLES
.mainContent__info
    @include flex(column,wrap,center,center)
    width: clamp(40%,22.5rem,100%)
.mainContent__info--text
    padding:.5rem 1rem
    line-height:1.8rem
    &_brand
        color: var(--Orange)
        font-size: .9em
    &_product
        font:
            size:1.5em
            weight:700
    &_description
        color: var(--Grayish_blue)
        font-size: .9em

.mainContent__info--price
    @include flex(row,wrap,space-between,center)
    width:100%
    padding:2rem 1rem
    &_Container
        @include flex(row,wrap,center,center)
        gap:.4rem
        width:50%
    &_real
        font:
            size:1.5em
            weight:700
    &_discount
        font:
            size:.8em
            weight:700
        color: var(--Orange)
        background-color: var(--Pale_orange)
        padding:.25rem 0.5rem
            border-radius: 20px
    &_initial
        font:
            size:.8em
            weight:700
        color: var(--Grayish_blue)
        text-decoration: line-through
.mainContent__info--interact
    @include flex(row,wrap,center,center)
    gap:1rem
    width: 100%
    &_amount
        @include flex(row,wrap,space-between,center)
        width: 100%
        padding:1rem
        margin:1rem
        border-radius: 10px
        background-color: var(--Light_grayish_blue)
        &-qu
            font-weight: 700
        &-icon
            cursor: pointer
            padding:1rem
    &_cart
        @include flex(row,wrap,center,center)
        gap:.4rem
        width: 100%
        padding:1rem
        margin:1rem
        border-radius: 10px
        background-color: var(--Orange)
        color: #fff
        transition: opacity .3s , transform .3s
        cursor: pointer
        &:hover
            opacity:0.5
            transform: scale(.9)
// MEDIA QUERY STYLES FOR PC
@media screen and (min-width: 1100px)
    // PAGE NAV QUERY STYLES FOR PC
    .pageNav
        justify-content: space-between
        &__logo
            margin-left:5rem
        &::after
            content:""
            position: absolute
            left:50%
            bottom:0
            transform: translateX(-50%)
            width:90%
            height:1px
            background-color: var(--Grayish_blue)
    .pageNav__phoneOpen
        display: none
    .pageNav__ul
        position: static
        flex-direction: row
        align-items: center
        gap:1rem
        width:50%
        height: 50%
        margin:0
        background-color: #fff
        font-weight: 700
        transform: translateX(0)
        color: var(--Grayish_blue)
        &--item
            position: relative
            overflow: hidden
            cursor: pointer
            transform-origin: center
            &::after
                content:""
                position: absolute
                left:0
                bottom:0
                width:100%
                height:1px
                background-color: var(--Grayish_blue)
                transform-origin: center
                transform: scaleX(0)
                transition: transform .3s
            &:hover::after
                transform: scaleX(1)
            
    // PAGE MAIN CONTENT QUERY STYLES FOR PC
    // PAGE MAIN CONTENT SLIDE QUERY STYLES FOR PC 
    
    .mainContent
        @include flex(row,wrap,space-around,center)
        width:100%
        overflow: hidden
    .mainContent__slide,.mainContent__slideAlert
        position: relative
        @include flex(column,wrap,center,center)
        width:40%
        height: auto
        &--mainImage
            display: inline-block
            width:30rem
            height:30rem
            margin:1rem 5rem
            border-radius: 10px
            transition: opacity .5s
            cursor: pointer
        &--thumbnails
            @include flex(row,wrap,space-around,center)
            width: 30rem
            &--img
                width: 20%
                border-radius:10px
                transition: all .1s
                cursor: pointer
                &:hover
                    outline: 3px solid var(--Orange)
                    opacity:.5
        &--buttons
            position: absolute
            top:0
            left:0
            @include flex(row,wrap,space-between,center)
            display: none
            width:100%
            height:100%
            z-index:10
            &_button
                @include flex(row,wrap,center,center)
                width:2.5rem
                height:2.5rem
                background-color: #fff
                border-radius: 50%
                margin:0 1rem
                transition: transform .3s
                cursor: pointer
    .mainContent__slideAlert
        position: absolute
        top:0
        left:0
        width:100vw
        height:100%
        background-color: rgba(0 0 0 /.5)
        z-index:30
        &--close
            width:1.5rem
            height:1.5rem
            cursor: pointer
            transition: transform .3s
            margin-left:30%
            animation: appearLeft .5s 
            &:hover
                transform: scale(1.2)
        &--mainImage
            animation: appearLeft .5s
    .mainContent__slideAlert--buttons
        left:50vw
        top:50vh
        transform: translateX(-50%) translateY(-50%)
        width:35rem
        height:30rem
        display: flex
        animation: appearPop .5s
        &_button:hover
            transform: scale(1.2)
    .mainContent__slideAlert--thumbnails
        animation: appearRight .5s
            
    .CLOSED
        display: none
    // PAGE MAIN INFO QUERY STYLES FOR PC
    .mainContent__info--interact_cart
        width:65%
        margin:0
        height:4.5rem
    .mainContent__info--interact_amount
        width:30%
        margin:0
        height:4.5rem
    .mainContent__info--price
        flex-direction: column
        align-items: flex-start
    .mainContent__info--price_Container
        justify-content: flex-start

@keyframes appearLeft
    from
        transform: translateX(-100vw) 
        
    to
        transform: initial
@keyframes appearPop
    from
        transform: translateX(-50%) translateY(-60%)
        opacity:0
        
    to
        transform: translateX(-50%) translateY(-50%)
        opacity:1
@keyframes appearRight
    from
        transform: translateX(100vw) 
        
    to
        transform: initial
